service cloud.firestore {
  match /databases/{database}/documents {

    // Match any document in the 'addresses' collection
    match /addresses/{document=**} {
      allow read, write: if request.auth.uid != null;
    }

    // Match any document in the 'users' collection
    // All users need to be able to write all documents because if an owner of a place deletes the place, it has to remove the address out of each members userData.
    match /users/{document=**} {
      allow read, write: if request.auth.uid != null;
    }

    // Default should be accessible by the public
    match /addresses/RsEbCmIPqUSxrITMxQvT {
      allow read, write: if true;
      match /calendar/{document=**} {
        allow read, write: if true;
      }
      match /members/{document=**} {
        allow read, write: if true;
      }
      match /months/{document=**} {
        allow read, write: if true;
      }
    }

    // Default should be accessible by the public
    match /users/default {
      allow read, write: if true;
      match /calendar/{document=**} {
        allow read, write: if true;
      }
      match /mealplans/{document=**} {
        allow read, write: if true;
        match /filters/{document=**} {
          allow read, write: if true;
        }
        match /recipies/{document=**} {
          allow read, write: if true;
          match /ingredients/{document=**} {
            allow read, write: if true;
          }
        }
      }
      match /addresses/{document=**} {
        allow read, write: if true;
      }
    }
  }
}
